<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <style>
div {display: block;}
h1 {
        color: #ebebeb;
        font-size: 48px;
        font-weight: 100;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        border: 1px solid #214252;
        border-radius: 4px;
      }

      h2 {
        color: #e8ffff;
        text-align: center;
        font-weight: normal;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 0px
      }
 
      body {
          background-color: #214252;
      }
      form {
        text-align: center;
      }

    </style>
</head>
<body>

<% if @game.current_turn == @game.player_1 %>
<h1><%= @game.player_1.name %> has shanked <%= @game.player_2.name %>!</br></h1>
<% else %>
<h1><%= @game.player_2.name %> has shanked <%= @game.player_1.name %>!</br></h1>
<% end %>

</br>

<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
  </form>

  </body>
