<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <style>
div {display: block;}
h1 {
        color: #ebebeb;
        font-size: 48px;
        font-weight: 100;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        border: 1px solid #214252;
        border-radius: 4px;
      }

      h2 {
        color: #e8ffff;
        text-align: center;
        font-weight: normal;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 0px
      }
 
      body {
          background-color: #214252;
      }
      form {
        text-align: center;
      }

    </style>
</head>
<body>

<%= @game.loser.name %> loses!

</body>